---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="py-12 flex flex-col">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Learning Resources</h2>
      <p class="text-gray-800 mb-4">
        If you're interested in learning more about Gradle, check out Jendrik's
        <a
          href="https://www.youtube.com/playlist?list=PLWQK2ZdV4Yl2k2OmC_gsjDpdIBTN0qqkE"
          target="_blank" class="text-blue-600 hover:text-blue-800 underline">Gradle Video series</a>,
        and Benedikt's <a href="https://britter.dev/blog" class="text-blue-600 hover:text-blue-800 underline" target="_blank">blog</a>.
      </p>

      <h2 class="text-3xl font-bold text-gray-800 mb-4">Support</h2>

      <p class="text-gray-800 mb-4">
        GradleX is an open-source project that is developed and maintained by
        the team on a voluntary basis. If you require support with using GradleX
        plugins, or Gradle in general, we're here to help you.
        Benedikt, and Jendrik both offer professional Gradle consulting and training.
        Head over to the <a href="/team" class="text-blue-600 hover:text-blue-800 underline">Team</a> page to learn more about them as well
        as information for how to get in touch.
      </p>
    </div>
  </section>
</Layout>
