---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
import { Icon } from "astro-icon/components";
---

<!-- Header Section -->
<header class="bg-white shadow-md p-4 sticky top-0 z-50">
  <div class="max-w-4xl mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="flex items-center space-x-3">
      <Image src={Logo} alt="GradleX Logo" width="200" height="50">
        <span class="text-xl font-bold text-gray-900">GradleX</span>
      </Image>
    </a>
    <!-- Navigation -->
    <nav class="flex space-x-8">
      <a href="/team" class="text-gray-700 hover:text-blue-600">Team</a>
      <a href="/help" class="text-gray-700 hover:text-blue-600">Help</a>
      <a
        href="https://github.com/gradlex-org"
        title="GitHub"
        target="_blank"
        rel="noopener noreferrer"><Icon name="GitHub" /></a
      >
    </nav>
  </div>
</header>
