<section class="bg-green-700 text-white py-16">
  <div class="max-w-4xl mx-auto text-center">
    <p class="text-xl font-light mb-6">
      A collection of high quality Gradle plugins.
    </p>
    <p class="text-lg">
      GradleX provides high quality extensions for the <a href="https://gradle.org" class="text-white underline hover:text-blue-200" target="_blank">Gradle Build Tool</a> that
      make it more pleasant to use.
      It is operated by a community of experienced Gradle developers.
    </p>
  </div>
</section>
